.brand-name {
  color: #ff0055 !important;
  font-size: 1.5rem !important;
  font-weight: 900;
  padding: 5px;
}

.navbar-nav .nav-item .nav-link {
  transition: background-color 0.3s ease;
  color: #ffffff;
  font-size: 1.2rem;
}
.navbar-nav .nav-item .nav-link.active {
  color: #ff5500 !important;
  font-size: 1.2rem;
  font-weight: 900;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff0055;
}
